
.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
}

.buttons {
  background: cyan;
  width: 80px;
  height: 30px;
  font-family: "Arial", "Verdana", sans-serif;
  font-size: 130%;
}

.container {
  width: 280px;
  height: 200px;
  margin: 100px;
  border: 3px solid cyan;
  border-radius: 5px;
  /* FLex */
  display: flex;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.item1 {
  width: 240px;
  height: 90px;
  background: cyan;
}

.p {
  line-height: 0px;
  font-family: "Arial", "Verdana", sans-serif;
  font-size: 100%;
}

.p--red {
  line-height: 0px;
  font-family: "Arial", "Verdana", sans-serif;
  font-size: 100%;
  color: red;
}

.item2 {
  width: 240px;
  height: 60px;
  display: flex;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border: 2px solid cadetblue;
  border-radius: 2px;
}

.label {
  line-height: 0px;
  font-family: "Arial", "Verdana", sans-serif;
  font-size: 100%;
  color: cyan;
}

.input {
  text-align: center;
}

.inputRed {
  text-align: center;
  background-color: red;
}
